<div class="flex flex-col">
  <mat-sidenav-container>
    <!--Sidebar-->
    <mat-sidenav
      #sideNav
      [opened]="mobileQuery.matches ? false : true"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
    >
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
      <!--Heander-->
      <app-header></app-header>
      <!--Content-->
      <div class="container m-auto">
        <router-outlet></router-outlet>
      </div>
      <!--Footer-->
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
