<!--Actions-->
<div
  class="flex flex-col md:flex-row md:justify-between justify-center items-center w-full p-2 pt-8"
>
  <div class="flex flex-row">
    <div class="space-x-2">
      <button
        class="bg-blue-800 text-white rounded-md p-1 px-2 hover:bg-blue-700"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Anterior
      </button>
      <button
        class="bg-gray-900 text-white rounded-md p-1 px-2 hover:bg-gray-700"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Hoy
      </button>
      <button
        class="bg-blue-800 text-white rounded-md p-1 px-2 hover:bg-blue-700"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Siguiente
      </button>
    </div>
  </div>
  <div class="flex flex-row">
    <h3 class="text-2xl">
      {{ viewDate | calendarDate : view + "ViewTitle" : "es-CL" | titlecase }}
    </h3>
  </div>
  <div class="flex flex-row">
    <div class="space-x-1">
      <button
        class="bg-blue-800 text-white rounded-md p-1 px-2 hover:bg-blue-700"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        Mes
      </button>
      <button
        class="bg-blue-800 text-white rounded-md p-1 px-2 hover:bg-blue-700"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Semana
      </button>
      <button
        class="bg-blue-800 text-white rounded-md p-1 px-2 hover:bg-blue-700"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Día
      </button>
    </div>
  </div>
</div>
<!--End Actios-->
<br />
<div [ngSwitch]="view" class="mb-20">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
  >
  </mwl-calendar-day-view>
</div>
<!--Create schedule-->
<div class="flex flex-col p-8">
  <!--Form schedule-->
  <form [formGroup]="scheduleForm" class="flex flex-col">
    <mat-form-field>
      <mat-label>Titulo</mat-label>
      <input
        matInput
        formControlName="title"
        placeholder="Ej. Asistir a la mascota"
        maxlength="100"
        autocomplete="off"
      />
    </mat-form-field>
    <div class="flex flex-row w-full space-x-2 items-center">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Fecha</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          readonly="true"
          formControlName="date"
          placeholder="Ej. dd-mm-aaaa"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Inicio</mat-label>
        <mat-select formControlName="start" placeholder="Inicio">
          <mat-option value="12:00"> 12:00 am </mat-option>
        </mat-select>
      </mat-form-field>
      <span class="text-3xl">-</span>
      <mat-form-field>
        <mat-label>Fin</mat-label>
        <mat-select formControlName="end" placeholder="Fin">
          <mat-option value="13:00"> 13:00 am </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
  <!--End form schedule-->
  <!--Actios form-->
  <div class="flex flex-row justify-end">
    <button
      mat-raised-button
      color="primary"
      class="mt-4"
      (click)="addSchedule()"
    >
      Agregar
    </button>
  </div>
</div>
<div>
  {{ data | date : "medium" }}
</div>
