<div class="flex flex-row p-3 justify-center w-full">
  <!-- Add pet button -->
  <button
    (click)="redirectCreate()"
    class="mb-2 w-full"
    color="primary"
    mat-raised-button
  >
    <mat-icon>add</mat-icon>
    Agregar
  </button>
</div>
<!--Actions-->
<div
  class="flex flex-col md:flex-row md:justify-between justify-center items-center w-full p-2 pt-8"
>
  <div class="flex flex-row">
    <div class="space-x-2">
      <button
        class="bg-blue-800 text-white rounded-md p-1 px-2 hover:bg-blue-700"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Anterior
      </button>
      <button
        class="bg-gray-900 text-white rounded-md p-1 px-2 hover:bg-gray-700"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Hoy
      </button>
      <button
        class="bg-blue-800 text-white rounded-md p-1 px-2 hover:bg-blue-700"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Siguiente
      </button>
    </div>
  </div>
  <div class="flex flex-row">
    <h3 class="text-2xl">
      {{ viewDate | calendarDate : view + "ViewTitle" : "es-CL" | titlecase }}
    </h3>
  </div>
  <div class="flex flex-row">
    <div class="space-x-1">
      <button
        class="bg-blue-800 text-white rounded-md p-1 px-2 hover:bg-blue-700"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        Mes
      </button>
      <button
        class="bg-blue-800 text-white rounded-md p-1 px-2 hover:bg-blue-700"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Semana
      </button>
      <button
        class="bg-blue-800 text-white rounded-md p-1 px-2 hover:bg-blue-700"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Día
      </button>
    </div>
  </div>
</div>
<!--End Actios-->
<br />
<div [ngSwitch]="view" class="mb-20">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
  >
  </mwl-calendar-day-view>
</div>
