<div
  class="bg-white w-full h-16 flex flex-row border-b-2 justify-between items-center"
>
  <div class="flex flex-row items-center px-2">
    <button mat-icon-button (click)="sidenav!.toggle()">
      <mat-icon>list</mat-icon>
    </button>
    <h2 class="text-lg p-2 m-2 bg-blue-600 text-white rounded-md">
      Pet-Schedule
    </h2>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="mr-5">
    <mat-icon color="primary">account_circle</mat-icon>
  </button>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>face</mat-icon>
    Perfil
  </button>
  <button mat-menu-item>
    <mat-icon>logout</mat-icon>
    Cerrar sesión
  </button>
</mat-menu>
