<div
  class="bg-white w-full h-16 flex flex-row border-b-2 justify-between items-center"
>
  <div class="flex flex-row items-center px-2">
    <button mat-icon-button (click)="toggleSideBar()">
      <mat-icon>list</mat-icon>
    </button>
  </div>
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    class="mr-5 flex flex-col items-center justify-center"
  >
    <mat-icon color="primary" class="mat-icon-35 mt-2">account_circle</mat-icon>
  </button>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>face</mat-icon>
    Perfil
  </button>
  <button mat-menu-item>
    <mat-icon>logout</mat-icon>
    Cerrar sesión
  </button>
</mat-menu>
