<div class="flex flex-col mx-8 my-5 space-y-4">
  <!--Logo-->
  <div class="flex flex-row space-x-3 items-center pb-4 border-b-2">
    <mat-icon color="primary" class="mat-icon-40">pets</mat-icon>
    <h1 class="text-gray-800 text-2xl font-semibold">Pet-Schedule</h1>
  </div>
  <!--User-->
  <div class="flex flex-col items-center space-y-2">
    <h1 class="text-xl font-medium">Bienvenido!</h1>
    <h1 class="text-xl font-medium">Luis Arispe</h1>
  </div>
  <!--List Menu-->
  <div class="flex flex-col space-y-2">
    <ng-container *ngFor="let route of routes">
      <app-menu [menu]="route"></app-menu>
    </ng-container>
  </div>
</div>
